/* 
	font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

* {
	/* Default font */
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
h2 {
	color: #007bff;
}
img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}
#landing {
	height: 80vh;
	/* center conter, img, and prgh using flexbox */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#gallery {
	color: #fff;
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
}
li {
	list-style: none;
	padding: 0;
}

.tools {
	padding: 25px;
	border: 5px solid #f2f2f2;
	margin: 20px;
	height: 200px;
	width: 75%;
}
